<header>
  <h1 href="/"><span class="york">New</span> York <span class="york">Times</span> Scraper</h1>
  <nav>
    <ul >
      <li>
        <a class="navWord" href="/saved">Saved</a>
      </li>
      <li>
        <a class="navWord" href="/scrape">Scrape</a>
      </li>
    </ul>
  </nav>
</header>

{{#each scraped_articles}}
<div class='articles'>
  <div class="card">
    <img id="img" alt="" src={{img}} />
    <div class="content">
      <a class="links" href='https://www.nytimes.com/{{a}}'>
        <h2 id="title">{{title}}</h2>
      </a>
      <h5 id="p">{{p}}</h5>
      <p>
        <small>By {{by}}</small></span>
      </p>
    </div>
    <button class="save">Save</button>
  </div>
</div>
{{/each}}