<header>
  <h1 href="/"><span class="york">New</span> York <span class="york">Times</span> Scraper</h1>
  <nav>
    <ul>
      <li>
        <a class="navWord" href="/saved">Saved</a>
      </li>
      <li>
        <a class="navWord" href="/scrape">Scrape</a>
      </li>
    </ul>
  </nav>
</header>

<h1 class="message">{{saved_articles.message}}</h1>

{{#each saved_articles}}
<div class='articles'>
  <div class="card" id={{_id}}>
    <img id="img" alt="" src={{img}} />
    <div class="content">
      <a class="links" href='{{a}}'>
        <h2 id="title">{{title}}</h2>
      </a>
      <h5 id="p" class="p">{{p}}</h5>
      <p>
        <small>{{by}}</small></p>
    </div>
      <button class="delete">Delete</button>
  </div>
</div>
{{/each}}